*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: min(2.2vh, 2.2vw);
  background-color: whitesmoke;
  line-height: min(2.2vh, 2.2vw);
}

main {
  max-width: 100vw;
  height: 100vh;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
